@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.login-container{
    position: relative;
    left: 0;
    top: 0px;
    width: 1200px;
    height: 1112px;
    /* background-color:  rgb(249, 123, 123); */
    /* background-color:  rgb(246, 3, 3); */
}

.inner-login-container{
    width: 480px;
    height: 1000px;
    /* background-color:  rgb(113, 8, 8); */

}

.right-login-container{
    position: relative;
    left: 0;
    top:0px;
    width: 700px;
    height: 1000px;
    /* background-color:  rgb(33, 2, 2); */
}

.image-container{
    position: relative;
    left: 125px;
    top: 114px;
    width: 454px;
    height: 539px;
}



/* media query for mobile */
/* @media only screen and (max-width: 800px) and (min-width: 350px) */
@media only screen and (max-width: 800px)
{   .right-login-container,
    .image-container{
    display: none;
   }



   .login-container{
    position: relative;
    left: 0;
    top: 0px;
    margin: auto;
    width: 800px;
    height: 800px;
   }
   .inner-login-container{
    position: relative;
    left: 163px;
    top: 66px;
    width: 480px;
    height: 640px;
    background-color:  rgb(243, 246, 217);

}


  }