
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.main-login-container{
    position: relative;
    left: 100px;
    top: 50px;
    width: 1000px;
    height: 640px;
    background-color:  rgb(226, 221, 221);
}


.Login-container{
    position: relative;
    left: 10px;
    top: 10px;
    width: 460px;
    height: 620px;
    background-color:  rgb(207, 202, 202);
    /* background-color:  rgb(246, 3, 3); */
}

/* .Login-Inner-container{
    position:relative ;
    top: 10px;
    left: -30px;
    width: 400px;
    height: 600px;
   border: 2px solid rgb(187, 185, 185);
    

} */
.loginformcontainer{
    position:relative ;
    top: -40px;
    left: 10px;
    width: 400px;
    height: 620px;
    /* background-color:  rgb(49, 57, 179); */
    margin: auto;

}
.logo{
    position:relative ;
    top: -10px;
    left: 25px;
    /* width: 430px;
    height: 1000px; */

}

.Login-Logo{
    position:relative ;
    top: 80px;
    left: 150px;
    width: 130px;
    height: 150px;  
   

}
.social-button{
    position:relative ;
    top: 100px;
    left: 90px;
    /* width: 100px; */
    height: 20px;
    /* border-bottom: 1px solid gray;  */
     /* border-radius: 10px;
     background-color: rgb(202, 197, 197); */
}

hr.solid{
    width: 250px;
    border-top: 1px solid gray;
}

.userLoginForm{
    position:relative ;
    top: 160px;
    left: 90px;
    /* width: 100px; */
    height: 20px;

}
.sociallogoimage{
    position:relative ;
    top: 7px;
    left:2px;
}
.eyesymbool{
    position:relative ;
    top: -30px;
    left:220px;
}

.checkboxData{
    position:relative ;
    top: 20px;
    /* left:2px; */

}
.resetpass{
    position:relative ;
    top: 0px;
 left: 90px;
 color:rgba(96, 91, 255, 1);

}

.bottomsection{
    position:relative ;
    top: 70px;
 left: 30px;
 

}
.newacc{
    color:rgb(10, 6, 138);
}
.resetpass:hover,.newacc:hover{
    color:rgba(96, 91, 255, 1);
}


/* code for divider */
.divider {
    position: relative;
    top: -30px;
    left: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #a9a7a7;
    margin: 0 10px;
  }
  
  .divider-text {
    white-space: nowrap;
    color: #0e0d0d; /* Adjust color as needed */
  }
  