
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.addcustomer-container{
    position: absolute;
    right: -350px;
    top: -10px;
    width: 300px;
    height: 800px;
    background-color: rgb(212, 212, 247);
}

.User{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
    /* background-color: brown; */
    border-bottom: 1px solid rgb(203, 201, 201);
}
.AddCustomer{
    position: relative;
    left: 30px;
    top: 20px;
    font-size: 16px;
    

}
.closebtn{
    position: relative;
    left: 150px;
    top: 20px;

}
.cameraImg{
    position: relative;
    right: -30px;
    top: 50px;
}

.userForm3{
    position: relative;
    left: 0px;
    top: 250px;
    width: 220px;
    height: 450px;
    background-color:  rgb(200, 197, 252);
}
.Gender3{
    width: 200px;
    height: 30px;
}
.submitcustomer3{
    position: relative;
    left: 0px;
    top: 28px;
    width: 200px;
    height: 40px;
    background-color:  rgba(96, 91, 255, 1);
    border-radius: 10px;
    color: white;

}