
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.calendaryear {
    background: #fff;
    padding: 1px;
    border-radius: 8px;
    box-shadow: 1px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
    /* background-color: blue; */
    max-height: 800px;
    position: relative;
    top: 0;
    left: 0;
  }


.days2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap:1px;
}

.day-name2, .day2 {
    padding: 0px 0;
}

.day-name2 {
    font-weight: bold;
    font-size: xx-small;
    background: #f0f0f0;
    border-radius: 4px;
}

.day2 {
    background: #f9f9f9;
    border-radius: 4px;
    padding: 2px;
    min-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.day2.prev-month2 {
    color: #999797;
}
