@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.dashboard-layout {
    width: 1200px;
    height: 1047px;
    background-color: rgba(250, 250, 251, 1);
    
}

.menu-table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    width: 100px;
    margin-left: 41px;
}
.datepicker-container{
    
    position: relative;
    left: 780px;
    top: -10px;
    font-size: x-small;
    display: flex;
    
    
  
}
.datepicker{
    display: block;
  justify-content: center;
  align-items: center;
  
}

.btn,
.tr-table {
    color: rgb(67, 158, 248);
    border: none;
    color: black;
    padding: 12px 16px;
    cursor: pointer;
    font-size: small;
}

/* Darker background on mouse-over */
.btn:hover,
.products:hover {
    color: rgb(6, 67, 248);
}

.tr-table:hover {
    color: rgb(6, 67, 248);
}


.menu-products {
    width: 1000px;
    height: 116px;
    position: relative;
    left: 30px;
    top: 60px;
}

.menu-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
}

.menu-image:hover {
    color: rgb(6, 67, 248);
}

.report-container {
    width: 580px;
    height: 200px;
    position: absolute;
    left: 30px;
    top: 240px;
}

.reportImg {
    width: 620px;
    height: 300px;
}
.analyticsImg{
    height: 300px;
    width: 380px;
}

.analytics-container {
    width: 380px;
    height: 150px;
    position: absolute;
    left: 650px;
    top: 240px;

}

.AnalyticsReport {
    width: 350px;
    height: 200px;

}

.ordertable-container{
    width: 580px;
    height: 300px;
    position: relative;
    left: 30px;
    top: 400px;
    background-color: rgb(247, 242, 242);
    font-size: medium;

}
.Full-table{
    width: 250px;
    height: 250px;

}
/* .totalOrder{
    background-color: rgba(38, 192, 226, 1);

    color: cyan;
    width: 4px;
    height: 2px;
    border-radius: 10px;
} */

.topsellingproduct-container{
    width: 370px;
    height: 300px;
    position: relative;
    left: 650px;
    top: 110px;
    background-color: rgb(247, 242, 242);
    /* background-color: rgb(195, 3, 3); */
    font-size: medium;

}
.products1{
    width: 300px;
    height: 280px;
    position: absolute;
    left:30pxpx;
    top: 50px;
    border-bottom: 1px solid wheat;
    /* background-color: blue; */

}
.products1:hover{
    /* background-color: rgb(111, 111, 246); */
    color: rgb(5, 5, 247);
}


/* css for table */
.ordertable{
    background-color: rgb(247, 242, 242);
    border:solid rgb(204, 195, 195) 1px;
}

.tbody,
.Full-table{
    width: 100%;
    height: 220px;
    font-size:9px;
    
    /* background-color: chartreuse; */
    text-align: center;
}
td, th {
    border: 1px solid #efebeb;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #efebeb;
  }
.totalorder{
    width: 5px;
    height: 2px;
}

.dropdown {
    float: left;
    overflow: hidden;
    
  }
  
  .dropdown .dropbtn {
    font-size: 10px;  
    border: 10px;
    
    color: rgb(18, 18, 18);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown:hover .dropbtn {
    background-color: rgb(183, 186, 249);
  }
  
  .dropdown-content {
    outline: none;
    display: none;
    position: absolute;
    background-color: #869ff9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(65, 64, 64, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(250, 245, 245);
    padding: 12px 16px;
    /* text-decoration:underline; */
    display: block;
    text-align: left;
    border: 10px;
  }
  
  /* .dropdown-content:hover {
    background-color: #ddd;
  } */
  
  .dropdown:hover .dropdown-content {
    display: block;
  }