
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* .dashboard-layout{
    width:1200px ;
    height:800px ;
    background-color:rgb(218, 218, 235);
    ;
} */
.buttonContent1{
     background-color: rgb(218, 213, 213); 
    /* color: blue;  */
    position: relative;
    left: 20px;
    top: 50px;
    width: 1300px;
    height: 900px;
    
}
.menu-table{
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    width: 110px;
    margin-left: 41px;
    
}


    .btn, .tr-table {
        color: rgb(67, 158, 248);
        border: none;
        color: black;
        padding: 12px 16px;
        cursor: pointer;
        font-size:small;
}
/* Darker background on mouse-over */
.btn:hover,.products:hover {
    color: rgb(6, 67, 248);
  }
  .tr-table:hover{
    color: rgb(6, 67, 248);
  }

/* .menuimage{
  min-height:0px;
  max-height:100px;
} */
.menu-box {
  display: none;
}

.menu-box.visible {
  display: block;
  
}

#menu-itemsss {
  padding: 5px ;
}


.menu{
    position: relative;
    left: 60px;
    top: 40px;
    background-color: rgba(255, 255, 255, 1);
    width: 100px;
    

}
.profile{
    position: relative;
    left: 10px;
    top: 600px;
   
}
.menu-products{
    width:1050px ;
    height:116px ;
    position: relative;
    left: -35px;
    top: 100px;
}
.menu-image{
    background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 20px;
            width: 30px;
}
.menu-image:hover{
    color: rgb(6, 67, 248);
  }
.report-container{
    width: 650px;
    height: 400px;
    /* background-color: aquamarine; */
    position: absolute;
    left:150px;
    top:250px;
}
.analytics-container{
    width: 390px;
    height:400px;
    background-color: rgb(11, 80, 57);
    position: absolute;
    left:820px;
    top:250px;

}
.vector{
    position: relative;
    left:100px;
    top:00px;

}

/* .................................. */
.app-header {
    font-weight: 700px;
    font-size: 24px;
    color: black;
  }
  .logo1{
    width: 50px;
    height: 50px;
    position: relative;
    left: 20px;
    top: 80px;
   
        
  }

  .loadComponent{
    position: relative;
    left: 120px;
    top: -620px;
    /* font-size: 20px; */
    width: 1150px;
    height: 1000px;
    /* background-color: rgb(240, 141, 12); */
   
    
  }
  /* .analyticsComponent{
    position: absolute;
    left: 190px;
    top: 60px;
      width: 1050px;
    height: 950px;
    background-color: rgb(248, 242, 234);

  } */
  .Menubar2{
    
    /* color: blue; */
    position: relative;
    left: 20px;
    top: 130px;
    line-height: 40px;
    width: 100px;
    border-radius: 20px;
  }
 
.ImageContent{
  position: relative;
  left: 20px;
  top: -85px;
  width: 40px;
  height: 40px;
  
}
.profile1{
  position: absolute;
  left: 20px;
  top: 740px;
  width: 170px;
  height: 100px;
  /* background-color: aqua; */
  font-size: xx-small;
  color: black;
  display:flex;
}
.lamp-container1{
  position: relative;
  left: 25px;
  top: 30px;

}
.lampBgImg{
  position: relative;
  left:10px;
  top: 150px;
  width: 120px;
  height: 130px;
  border-radius: 15px;
  background: rgb(221, 220, 244);

}
.lampbtn{
  width: 110px;
  height: 30px;
  background: #423cf7;
  position: relative;
  left:-10px;
  top: 33px;
  color: white;
  border-radius: 10px;
  font-size: small;
}
.lampbtn:hover{
  background-color: blueviolet;
}
  

/* badge */
.badgemark{
  position: relative;
  top: 0px;
  right: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
 
 width: 20px;
 height: 20px;
  border-radius: 45%;
  background-color: red;
  color: white;
  font-size: 13px;
}



