
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* message box */
.message-box{
    position: relative;
    left: -1039px;
    top: 90px;
    width: 358px;
    height: 850px;
    background-color: rgb(209, 207, 209);
}

.chat-box{
    width: 280px;
    height: 50px;
   
    position: relative;
    top: 10px;
    left: 10px;
}
.messagebutton{
    position: relative;
    left: 140px;
    top: 0px;
    width: 30px;
    height: 30px;
    font: bold;
    padding-top: 3px;

}
.searchbtnmsg{
    position: relative;
    left: 10px;
    top: 0px;
    width: 297px;
    height: 40px;
    font: bold;
    padding-top: 3px;
    border-radius: 10px;
    /* background-color: rgb(232, 230, 230); */
    

}
.searchtext{
    width: 400px;
    height: 30px;
}
.category{
    position: relative;
    left: 60px;
    top: 20px;

}
.chatting-list{
    position: relative;
    left: 15px;
    top: 30px;
    width: 300px;
    height: 60px;
    /* background-color: chartreuse; */
}




/* indivisual chat box */
.indivisual-chat-box-container{
    /* background-color: rgb(232, 247, 247); */
    height: 740px;
    width: 700px;
    position: relative;
    left: -700px;
    top: 20px;

}

.indivisual-chat-box{
    position: relative;
    left: -312px;
    top: 71px;
    background-color: rgb(200, 201, 201);
    height: 848px;
    width: 600px;
    /* background-color: brown; */

}
.onlineImage{
    position: relative;
    left: -13px;
    top: 32px;
      

}
.chat-box-symbol{
    position: relative;
    left: 360px;
    top: 20px;

}
.chatting{
    position: relative;
    left: 20px;
    top: 70px;
    /* background-color: chartreuse; */
    width: 550px;
    height: 500px;
}
.chat-para1{
    position: relative;
    left: 30px;
    top: 0px;
    width: 100px;
    height: 30px;
    /* border-radius: 10px,30px,10px,0; */
    background-color: rgba(91, 147, 255, 1);
    text-align: center;
    padding-top: 10px;
    color: white;
   
}
.chat-para2{
    position: relative;
    left: 30px;
    top: 10px;
    width: 250px;
    height: 50px;
    border-radius: 10px,10px,10px,0;
    background-color: rgba(91, 147, 255, 1);
    text-align: left;
    padding-top: 10px;
    color: white;
   
}
.chat-para3{
    position: relative;
    left: 30px;
    top: -20px;
    width: 250px;
    height: 50px;
    border-radius: 10px,10px,10px,0;
    background-color: rgba(91, 147, 255, 1);
    text-align: left;
    padding-top: 10px;
    color: white;
   
}
.chatimages{
    position: relative;
    left: 220px;
    top: -20px;
    border-radius:30px 30px;

}

.chat-bottom-images{
    position: relative;
    left: 20px;
    top: 186px;
    width: 560px;
    height: 40px;
    padding-top: 10px;
    background-color: rgb(199, 217, 250);
}
.smile-send-icon{

    position: relative;
    left: 320px;
    top: 0px;
}