
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.container {
    font-family: 'Verdana, Geneva, sans-serif,Nunito';
    /* font-size: 20px; */
    color: black;
   /* width: 1366px; */
   width: 1366px;
    height: 1047px;
    /* background-color: rgb(235, 231, 231); */
    position: relative;
    left: 0px;
    top: 0px;
    
  }
  
  .app-header {
    font-weight: 700px;
    font-size: 24px;
    color: black;
  }
  .logo1{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 60px;
    top: 60px;
   
        
  }

  .loadComponent{
    position: absolute;
    left: 180px;
    top: 60px;
    /* font-size: 20px; */
    width: 1050px;
    height: 950px;
    background-color: rgb(248, 242, 234);
   
    
  }
  /* .analyticsComponent{
    position: absolute;
    left: 190px;
    top: 60px;
      width: 1050px;
    height: 950px;
    background-color: rgb(248, 242, 234);

  } */
  .Menubar{
    
    /* color: blue; */
    position: relative;
    left: 70px;
    top: 150px;
    line-height: 40px;
    width: 100px;
    border-radius: 20px;
  }
 
.ImageContent{
  position: relative;
  left: 20px;
  top: -85px;
  width: 40px;
  height: 40px;
  
}
.profile{
  position: absolute;
  left: 40px;
  top: 740px;
  width: 170px;
  height: 100px;
  /* background-color: aqua; */
  font-size: xx-small;
  color: black;
  display:flex;
}
.lamp-container{
  position: relative;
  left: 65px;
  top: 120px;

}
.lampBgImg{
  position: relative;
  left:40px;
  top: 250px;
  width: 120px;
  height: 130px;
  border-radius: 15px;
  background: rgb(221, 220, 244);

}
.lampbtn{
  width: 110px;
  height: 30px;
  background: #423cf7;
  position: relative;
  left:-20px;
  top: 0px;
  color: white;
  border-radius: 10px;
  font-size: small;
}
.lampbtn:hover{
  background-color: blueviolet;
}
  